 <!-- sidebar starts   -->
 <aside class="sidebar">
    <a href="#">Step Online Shopping</a>
    <a href="/admin/products">Products</a>
    <a href="#">Sales Bills</a>
    <a href="#">Purchase Bills</a>
    <a href="#">Categories</a>
    <a href="#">Users</a>
    <a href="#"id="dashboard">Dashboard</a>
</aside>

<!-- sidebar ends -->