<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
<div class="container">
    <!-- page title -->
    <div class="text-center">
        <h2>Best Sellers</h2>
    </div>
    <!-- products cards start -->
    <%- include('./public-partials/productsForNewReleasesAndBestSellers.ejs') %>
    <!-- products cards end -->
</div>
<%- include('./public-partials/publicFooter.ejs') %>