<%- include('./control-panel/partials/adminHead.ejs') %>
<%- include('./control-panel/partials/nav.ejs') %>
<div class="container">
    <div class="title">
        <h3>Dashboard</h3>
    </div>
</div>
<script>
    const navLink = document.querySelector('#dashboard-nav-link');    
    
    window.onload = () => {
        navLink.classList.add('active');
    }
</script>
<%- include('./control-panel/partials/footer.ejs') %>