<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
<div class="container">
    <!-- page title -->
    <div style="text-align: center;">
        <h2>New Releases</h2>
    </div>
    <!-- products cards start -->
    <%- include('./public-partials/productsForNewReleasesAndBestSellers.ejs') %>
    <!-- products cards end -->
</div>
<%- include('./public-partials/publicFooter.ejs') %>