<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
<form id="email-form" class="email-password-reset-form p-2">
    <p id="userId" style="display: none;"><%= userId %></p>
    <input name="password" type="password" class="form-control m-1" required placeholder="Enter New Password">
    <input name="passwordRepeat" type="password" class="form-control m-1" required placeholder="Repeat the new Password">
    <button type="submit" class="btn btn-success m-1">Submit</button>
</form>
<script src="/js/public-js/passwordReset.js"></script>
<%- include('./public-partials/publicFooter.ejs') %>