<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
<form id="email-form" class="email-password-reset-form p-2">
    <h3>Please check your email and click on the confirmation link</h3>
</form>
<%- include('./public-partials/publicFooter.ejs') %>