<%- include('./public-partials/publicHead.ejs') %>
<%- include('./public-partials/publicNav.ejs') %>
<div class="container">
    <div class="signup-section">
        <div class="signup">
            <form id="signupForm">
                <div class="row m-2">
                    <input type="text" name="firstName" placeholder="Enter your First Name" class="form-control" required>
                </div>
                <div class="row m-2">
                    <input type="text" name="lastName" placeholder="Enter your Last Name" class="form-control" required>
                </div>
                <div class="row m-2">
                    <input type="email" name="email" placeholder="Enter your Email" class="form-control" required>
                    <p id="checkEmailPraghraph" class="checkEmailPraghraph"></p>
                </div>
                <div class="row m-2">
                    <input type="text" name="username" placeholder="Enter a valid username" class="form-control" required>
                    <p id="checkUserNameOnDbPraghraph" class="checkUserNameOnDbPraghraph"></p>
                </div>
                <div class="row m-2">
                    <input type="password" name="password" placeholder="Enter a password" class="form-control" required>
                </div>
                <div class="row m-2">
                    <input type="password" name="passwordRepeat" placeholder="Repeat the password" class="form-control" required>
                    <p id="checkPasswordRepeatPraghraph" class="checkPasswordRepeatPraghraph"></p>
                </div>
                <div class="row m-2">
                    <button type="submit" name="submit" class="btn btn-dark col" disabled>Sign up</button>
                </div>
                <div class="row m-2">
                    <p>already have an account? <a href="/shop/login"><b>Login</b></a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/public-js/signup.js"></script>
<%- include('./public-partials/publicFooter.ejs') %>