/* sidebar starts */

.sidebar{
    /* display: flex; */
    padding-top: 2%;
    background-color: black;
    width: 20%;
    min-height: 100%;
    position: fixed;
    overflow: auto;
}

 .sidebar .links-list{
    list-style-type: none;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    /* margin-left: 15px; */
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

/* .sidebar a.active {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
} */

/* sidebar ends */

/* form starts */
.products {
    margin-left: 21%;
    width: 70%;
    align-items: center;
}
/* form end */

/* table start */
.table h3 {
    margin-top: 2%;
}
.search-product {
    margin-top: 2%;
}
/* table end */

