/* remove all links decoration */
a {
    text-decoration: none;
    color: black;
}

/* slide start */
.carousel-item img {
    height:520px;    
}
/* slide end */

/* body font */
body {
    font-family: "Laila", serif;
    font-weight: 400;
    font-style: normal;
}

/* viewed-times start */
.viewed-times {
    display: inline-block;
}

.viewed-times i {
    display: inline;
}

.viewed-times p {
    display: inline;
    margin: 0;
}
/* viewed-times end */

/* saled-times start */

.saled-times {
    display: inline-block;
}

.saled-times p {
    display: inline;
    margin: 0;
}

/* saled-times end */

/* products card start */

.container .card .card-img-top {
    max-height: 180px;
}

.container .card {
    width: 18rem;
    display: inline-block
}
/* products card end */

/* footer start */
.footer_section {
    background-color: black;
    text-align: center;
    color: #939d9e;
}
.footer_section  a{
    color: #939d9e;
}
.footer_section  a:hover{
    color: white;
}
.footer_section  ul{
    list-style: none;
}
/* footer end */

/* align text to center */

.text-center {
    text-align: center;
}

/* product landing page start */
.product-lp-details {
    /* padding: 2%; */
    margin: 2%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    /* border: 3px solid black;
    border-radius: 1px; */
}
.product-lp-details img{
max-width: 100%;
max-height: 100%;
border: 5px solid black;
border-radius: 5%;
}
/* product landing page end */

/* no gutters for products landing page product's card */

.no-gutters {
margin-right: 0;
margin-left: 0;

> .col,
> [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
}

/* login start */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh
}

.login {
    width: 40%;
    height: 70%;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2%;
}

.login .checkUserEmail {
    display: none;
}
.login .checkUserPassword {
    display: none;
}
/* login end */

/* signup start */
.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.signup {
    width: 40%;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 2%;
}

.signup .checkUserNameOnDbPraghraph {
    display: none;
}

.signup .checkPasswordRepeatPraghraph{
    display: none;
}

.signup .checkEmailPraghraph{
    display: none;
}
/* signup end */

/* public footer start */
.footer_section {
    height: 200px;
    margin-top: auto;
}
/* public footer end */

