<!-- logout collapse start -->

<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="logoutCollapse">
        <div class="card card-body" style="width: 300px;">
            <button class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>

<!-- logout collapse end -->