 <!-- footer section start -->
 <div class="footer_section layout_padding">
    <div class="container">
       <div class="footer_logo"><a href="index.html"><h1 style="color: white;">Step Shopping</h1></a></div>
       <div class="input_bt">
          <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
          <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
       </div>
       <div class="footer_menu">
          <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/shop/bestSellers">Best Sellers</a></li>
             <!-- <li><a href="#">Gift Ideas</a></li> -->
             <li><a href="/shop/newReleases">New Releases</a></li>
             <!-- <li><a href="#">Today's Deals</a></li> -->
             <li><a href="#">Customer Service</a></li>
          </ul>
       </div>
       <div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
    </div>
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
    </div>
 </div>
 <!-- copyright section end -->
 <!-- Javascript files-->
<!-- bootsrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>