      <!-- slide start -->
<div class="slide-div">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/background/bg1.jpg" class="d-block w-100" alt="shop image">
        <div class="carousel-caption d-none d-md-block">
          <h2>Your Best Choice For Online Shopping</h2>
          <h4>Start Shopping Now, Sign up for free !</h4>
          <% if(! user) { %>
            <a class="btn btn-light" href="/shop/signup">Sign Up</a>
            <a class="btn btn-light" href="/shop/login">Login</a>
          <% } %>

        </div>
      </div>
      <div class="carousel-item">
        <img src="images/background/bg2.jpg" class="d-block w-100" alt="shop image">
        <div class="carousel-caption d-none d-md-block">
          <h2>Your Best Choice For Online Shopping</h2>
          <h4>Start Shopping Now, Sign up for free !</h4>
          <% if(! user) { %>
            <a class="btn btn-light" href="/shop/signup">Sign Up</a>
            <a class="btn btn-light" href="/shop/login">Login</a>
          <% } %>
        </div>
        </div>
        <div class="carousel-item">
          <img src="images/background/bg3.jpg" class="d-block w-100" alt="shop image">
          <div class="carousel-caption d-none d-md-block">
            <h2>Your Best Choice For Online Shopping</h2>
            <h4>Start Shopping Now, Sign up for free !</h4>
            <% if(! user) { %>
              <a class="btn btn-light" href="/shop/signup">Sign Up</a>
              <a class="btn btn-light" href="/shop/login">Login</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<hr>
     <!-- slide end -->